[general]
framerate = 60
bars = 0
bar_width = 3
bar_spacing = 1
sensitivity = 75
autosens = 1

[smoothing]
integral = 80
monstercat = 1
gravity = 120
ignore = 0
noise_reduction = 77

[eq]
1 = 1.0
2 = 1.0
3 = 1.1
4 = 1.2
5 = 1.5

[color]
background = '{{colors.surface_container.default.hex}}'
foreground = '{{colors.primary.default.hex}}'

gradient = 1
gradient_count = 3
gradient_color_1 = '{{colors.primary.default.hex}}'
gradient_color_2 = '{{colors.primary_container.default.hex}}'
gradient_color_3 = '{{colors.inverse_primary.default.hex}}'
